{% extends 'base.html' %}

{% load static %}

{% block style %}
<link href="{% static 'css/form-ambientes.css' %}" rel="stylesheet" />
{% endblock style %}

{% block content %}
<!-- OVERVIEW -->
<div class="row">
    <div class="container">
        <h1>Controlador</h1>
        {% for ambiente in ambientes %}
            <a href="{% url 'ambientes:dispositivos' ambiente.id %}">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cl-block cl-apagada">
                    <h3 class="text-center"><strong>{{ ambiente.name }}</strong></h3>
                </div>
            </a>
        {% endfor %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
    </div>
</div>
<!-- OVERVIEW -->
{% endblock content %}